/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* ===== BODY ===== */
body {
  min-height: 100vh;
  background: linear-gradient(135deg, #f3f4f6, #e5e7eb);
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ===== MAIN TITLE ===== */
h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* ===== FORM SECTION ===== */
input, select, button {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

input:focus, select:focus {
  border-color: #007bff;
}

/* ===== BUTTON ===== */
button {
  background: #007bff;
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background: #0056b3;
}

/* ===== SEARCH & FILTER ===== */
#search {
  width: 200px;
}

/* ===== PRODUCT LIST GRID ===== */
#productList {
  display: grid;
  grid-templ
